header {
    width: 1280px;
    margin: auto;
    text-align:  center;
}
body {
    font-size: 14px;                /*размер шрифта*/
    font-family: sans-serif;        /*стиль шрифта*/
    background-color: #f5f5f0;      /*цвет фона*/
    color: black;                   /*цвет текста*/
}
#button {
    font-size: 400%;                /*размер шрифта*/
    border: 5px solid black;        /*добавляем границы*/
    padding: 1px 20px 1px 20px;       /*отступы*/
    width: 150px;                    /*ширина рамок*/
    /*  margin: 100px;                   /*отступ от края экрана*/
}
span{
    color: #ff7f02;
}
.headline {
    font-size: 80%;
    border: none;
    text-align:  center;
    width: 500px;                    /*ширина рамок*/
    padding-top: 50px;
    padding-left: 30%;

}

.content {
    font-size: 300%;
    text-align:  center;
}

fieldset {
    font-size: 200%;
    width: 350px;
    height: 450px;
    border: none;
    text-align:  center;
    background-color: white;
    box-shadow: 0 0 50px silver;
    white-space: pre-wrap;
    margin: 100px 100px 0 100px;

}
input {
    border-bottom: 1px solid silver;
    font-size: 20px;
    border-left: none;
    border-top: none ;
    border-width: none;
}
.button {
    background-color: #ff7f02;
    color: white;
    border: none;
    border-radius: 10px;
}
.working {
    width: 1280px;
    margin: auto;
    padding-top: 50px;
    text-align:  center;
}
main {
    background-color: white;            /* цвет фона*/
}
table {
    padding: 40px 30px 20px 30px;       /* отступы от краев таблицы*/
    margin: auto;                       /* расположение таблицы*/
    border-spacing: 30px;               /* расстояние между ячейками*/
    text-align:  center;
}
.icon-blue {
    color: #c1e4fc;
}
.icon-purple {
    color: #efd1fd;
}
.icon-darkblue {
    color: #d3d2ff;
}
.icon-red {
    color: #fdd1db;
}
.working-icon {
    font-size: 150%;
    color: #eef7fe;
}
.blue{
    background: #5fabe1;
}
.fa-magnet {
    font-size: 50px;
    color: #dcf0fd;
}
.purple{
    background: #c049f8;
}
.fa-bug {
    font-size: 50px;
    color: #f2dbfe;
}
.darkblue{
    background: #817eff;
}
.fa-cogs {
    font-size: 50px;
    color: #e6e5ff;
}
.red{
    background: #f74770;
}
.fa-camera-retro {
    font-size: 50px;
    color: #fddae2;
}
.blue, .purple, .darkblue, .red{
    width: 250px;                       /* ширина ячеек*/
    height: 250px;                      /* высота ячеек*/
}
